.Rollup__state-icon {
  position: absolute;
  display: block;
  transform-origin: -17px -22px;
  transition: .2s all ease;

  &:before {
    content: '';

    position: absolute;
    left: -25px;
    top: -24px;
    transform: rotate(45deg);
    
    width: 10px;
    height: 3px;

    transition: .2s all ease;

    background-color: grey;
  }

  &:after {
    content: '';

    position: absolute;
    left: -19px;
    top: -24px;
    transform: rotate(-45deg);
    
    width: 10px;
    height: 3px;

    transition: .2s all ease;

    background-color: grey;
  }
}